<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.co.techsmith.tpmobilepos">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="in.co.techsmith.tpmobilepos.customtoolbar"/>
        <activity android:name="in.co.techsmith.tpmobilepos.SalesActivity" />
        <activity android:name="in.co.techsmith.tpmobilepos.RetrieveActivity" />
        <activity android:name="in.co.techsmith.tpmobilepos.CustomerInformation" />
        <activity android:name="in.co.techsmith.tpmobilepos.SalesReturnActivity" />
        <activity android:name="in.co.techsmith.tpmobilepos.SettingsActivity" />
        <activity android:name="in.co.techsmith.tpmobilepos.PaymentActivityNew"
            android:windowSoftInputMode="stateAlwaysVisible"/>

        <activity
            android:name="in.co.techsmith.tpmobilepos.LoginActivity"
            android:configChanges="screenLayout|orientation|screenSize"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>